//--------------------------------------------------------------------------
// 标题栏
//--------------------------------------------------------------------------
//不是原生模式的时候留点空间
.root.os-darwin:not(.native-frame) .header {
    padding-top: 40px;
}

.header {
    width: 100%; // height: 75px;
    margin-bottom: 10px;
    display: flex;
    align-items: flex-end;
    -webkit-app-region: drag;
    a {
        &.title-link {
            font-size: 18px;
            color: #000;
            margin: 0 15px;
        }
        &.active {
            font-size: 32px;
            line-height: 36px;
            order: -1;
            margin-left: 30px;
        }
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
    .react-simple-input-container {
        position: relative;
        flex: 1;
        display: flex;
        justify-content: flex-end;
        margin: 0 10px;
        .react-simple-input {
            padding: 5px 0px;
            border: none;
            outline: none;
            font-size: 18px;
            background: transparent;
        }
        .react-simple-input-clear {
            position: absolute;
            right: 6px;
            top: 1px;
            font-size: 16px;
            color: #777;
            cursor: pointer;
            padding: 2px;
        }
    }
}

//微软系统
.window-controls {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    height: 24px;
    .window-control {
        width: $_window-control-size;
        font-size: 15px;
        color: $_header-color;
        border: 0;
        text-align: center;
        padding: 0;
        line-height: $_window-control-size;
        background-color: transparent;
        -webkit-app-region: no-drag;
        &:hover {
            background-color: $_window-control-bg-hover;
        }
        &:active {
            background-color: $_window-control-bg-active;
        }
        &.window-minimize {
            &::after {
                content: "";
                display: block;
                margin: auto;
                border-bottom: solid 2px #555;
                width: 10px;
            }
        }
        &.window-maximize {
            &::after {
                content: "";
                display: block;
                margin: auto;
                border: solid 1px #555;
                border-top-width: 2px;
                height: 9px;
                width: 10px;
            }
        }
        &.window-close {
            position: relative;
            &:hover {
                background-color: $_window-control-close-bg-hover;
                &::before,
                &::after {
                    background-color: $white;
                }
            }
            &:active {
                background-color: $_window-control-close-bg-active;
                &::before,
                &::after {
                    background-color: $white;
                }
            }
            &::before,
            &::after {
                display: block;
                position: absolute;
                content: " ";
                height: 11px;
                width: 2px;
                background-color: #555;
                top: 7px;
                left: 11px;
            }
            &::before {
                transform: rotate(45deg);
            }
            &::after {
                transform: rotate(-45deg);
            }
        }
    }
}